.margen-superior-main {
    margin-top: 90px;
    padding: 20px;
}

.color-navbar {
    background-image: linear-gradient(90deg, #2697cc 0%, #ef62c4 50%, #f03b9b 100%);
}

.color-texto-marca {
    color: #1e3d87 !important;
    font-size: 18px;
}